In [1]:
!pip install pandas #installing pandas

Requirement already satisfied: pandas in c:\python\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\python\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\python\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in c:\python\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd #imorting pandas and numpy libreies
import numpy as np

# TASK 1 (YOUTUBE VIDEO)

In [4]:
ca_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\CAvideos.csv")  #reading  canada csv

In [5]:
for x in ca_df.index:                           #arranging the wrong values into catagory range value using for loop as 1 to 31
    if ca_df.loc[x, "category_id"] >30:
        ca_df.loc[x, "category_id"] = 31
        
for x in ca_df.index:
    if ca_df.loc[x, "category_id"] <1:
        ca_df.loc[x, "category_id"] = 1

In [6]:
ca_df[ca_df['category_id']>31]  #verifing the values above 31

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description]
Index: []

In [7]:
ca_df[ca_df['category_id']<1]  #verifing the values below 1

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description]
Index: []

In [8]:
caj = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\CA_category_id.json') #reading canada json file

In [9]:
caj['category_id']=np.arange(1,32)               #creating column with category_id

In [10]:
f1 = ca_df.merge(caj,on='category_id',how = 'outer')  #merging the csv dataframe and json dataframe nad saving to f1 variable

In [11]:
# repeating all the steps for remaining 9 regions

In [12]:
de_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\DEvideos.csv")

In [13]:
for x in de_df.index:
    if de_df.loc[x, "category_id"] >30:
        de_df.loc[x, "category_id"] = 31
        
for x in de_df.index:
    if de_df.loc[x, "category_id"] <1:
        de_df.loc[x, "category_id"] = 1

In [14]:
de_df[de_df['category_id']<1]

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description]
Index: []

In [15]:
dej = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\DE_category_id.json')

In [16]:
dej['category_id']=np.arange(1,32)

In [17]:
f2 = de_df.merge(dej,on='category_id',how='outer')

In [18]:
fr_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\FRvideos.csv")

In [19]:
for x in fr_df.index:
    if fr_df.loc[x, "category_id"] >30:
        fr_df.loc[x, "category_id"] = 31
        
for x in fr_df.index:
    if fr_df.loc[x, "category_id"] <1:
        fr_df.loc[x, "category_id"] = 1

In [20]:
frj = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\FR_category_id.json')

In [21]:
frj['category_id']=np.arange(1,32)

In [22]:
f3 = fr_df.merge(frj,on='category_id',how='outer')

In [23]:
gb_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\GBvideos.csv")

In [24]:
for x in gb_df.index:
    if gb_df.loc[x, "category_id"] >30:
        gb_df.loc[x, "category_id"] = 31
        
for x in gb_df.index:
    if gb_df.loc[x, "category_id"] <1:
        gb_df.loc[x, "category_id"] = 1

In [25]:
gbj = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\GB_category_id.json')

In [26]:
gbj['category_id']=np.arange(1,32)

In [27]:
f4 = gb_df.merge(gbj,on='category_id',how='outer')

In [28]:
in_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\INvideos.csv")

In [29]:
for x in in_df.index:
    if in_df.loc[x, "category_id"] >30:
        in_df.loc[x, "category_id"] = 31
        
for x in in_df.index:
    if in_df.loc[x, "category_id"] <1:
        in_df.loc[x, "category_id"] = 1

In [30]:
inj = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\IN_category_id.json')
inj['category_id']=np.arange(1,32)

In [31]:
f5 = in_df.merge(inj,on='category_id',how='outer')

In [32]:
jp_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\JPvideos.csv",encoding='latin-1')

In [33]:
for x in jp_df.index:
    if jp_df.loc[x, "category_id"] >30:
        jp_df.loc[x, "category_id"] = 31
        
for x in jp_df.index:
    if jp_df.loc[x, "category_id"] <1:
        jp_df.loc[x, "category_id"] = 1

In [34]:
jpj = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\JP_category_id.json')
jpj['category_id']=np.arange(1,32)

In [161]:
f6 = jp_df.merge(jpj,on='category_id',how='outer')

In [36]:
kr_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\KRvideos.csv",encoding='latin-1')

for x in kr_df.index:
    if kr_df.loc[x, "category_id"] >30:
        kr_df.loc[x, "category_id"] = 31
        
for x in kr_df.index:
    if kr_df.loc[x, "category_id"] <1:
        kr_df.loc[x, "category_id"] = 1

In [37]:
krj  = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\KR_category_id.json')
krj['category_id']=np.arange(1,32)

In [38]:
f7 = kr_df.merge(krj,on='category_id',how='outer')

In [39]:
mx_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\MXvideos.csv",encoding='latin-1')
for x in mx_df.index:
    if mx_df.loc[x, "category_id"] >30:
        mx_df.loc[x, "category_id"] = 31
        
for x in mx_df.index:
    if mx_df.loc[x, "category_id"] <1:
        mx_df.loc[x, "category_id"] = 1

In [40]:
mxj = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\MX_category_id.json')
mxj['category_id']=np.arange(1,32)

In [41]:
f8 = mx_df.merge(mxj,on='category_id',how='outer')

In [42]:
ru_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\RUvideos.csv",encoding='latin-1')

for x in ru_df.index:
    if ru_df.loc[x, "category_id"] >30:
        ru_df.loc[x, "category_id"] = 31
        
for x in ru_df.index:
    if ru_df.loc[x, "category_id"] <1:
        ru_df.loc[x, "category_id"] = 1

In [43]:
ruj = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\RU_category_id.json')
ruj['category_id']=np.arange(1,32)

In [44]:
f9 = ru_df.merge(ruj,on='category_id',how='outer')

In [45]:
us_df = pd.read_csv("E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\Extracted\\USvideos.csv")
for x in ru_df.index:
    if ru_df.loc[x, "category_id"] >31:
        ru_df.loc[x, "category_id"] = 32
        
for x in ru_df.index:
    if ru_df.loc[x, "category_id"] <1:
        ru_df.loc[x, "category_id"] = 1

In [46]:
usj = pd.read_json('E:\\GUVI\\ASSIGNMENTS\\assignment 3\\data sets\\json\\US_category_id.json')
usj['category_id']=np.arange(1,33)

In [47]:
f10 = us_df.merge(usj,on='category_id',how='outer')

In [145]:
frames = [f1,f2,f3,f4,f5,f6,f7,f8,f9,f10] # merging all dataframes
df = pd.concat(frames)

In [146]:
del df['video_error_or_removed'] #removing unwanted columns

In [147]:
del df['description'] #removing unwanted columns

In [148]:
del df['tags'] #removing unwanted columns

In [149]:
del df['thumbnail_link'] #removing unwanted columns

In [150]:
del df['comments_disabled'] #removing unwanted columns

In [151]:
del df['ratings_disabled'] #removing unwanted columns

In [152]:
del df['etag'] #removing unwanted columns

In [153]:
del df['items'] #removing unwanted columns

In [154]:
df.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,kind
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,17158579.0,787425.0,43420.0,125882.0,youtube#videoCategoryListResponse

In [155]:
df = df.dropna() #dropping the nan rows

In [156]:
k = df  #dataframe with the data containg all the regions , data cleaned in required manner
k

,video_id,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count,kind
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,17158579.0,787425.0,43420.0,125882.0,youtube#videoCategoryListResponse
1,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,33523622.0,1634130.0,21082.0,85067.0,youtube#videoCategoryListResponse
2,H1KBHFXm2Bg,17.14.11,21 Savage - Bank Account (Official Music Video),21 Savage,10,2017-11-10T19:00:02.000Z,5068229.0,263596.0,8585.0,28976.0,youtube#videoCategoryListResponse
3,7MxiQ4v0EnE,17.14.11,Daang ( Full Video ) | Mankirt Aulakh | Sukh S...,Speed Records,10,2017-11-11T16:41:15.000Z,5718766.0,127477.0,7134.0,8063.0,youtube#videoCategoryListResponse
4,j67FgNEvyh8,17.14.11,Telefoon || Babbu Maan || Promo || Full Song 1...,Hey Yolo,10,2017-11-12T04:24:34.000Z,178447.0,4339.0,96.0,876.0,youtube#videoCategoryListResponse
...,...,...,...,...,...,...,...,...,...,...,...
40887,pwGbwYAfSmg,18.31.05,5 books worth reading this summer,Bill Gates,29,2018-05-21T13:30:33.000Z,313587.0,10374.0,150.0,604.0,youtube#videoCategoryListResponse
40888,pwGbwYAfSmg,18.01.06,5 books worth reading this summer,Bill Gates,29,2018-05-21T13:30:33.000Z,316467.0,10434.0,150.0,604.0,youtube#videoCategoryListResponse
40889,pwGbwYAfSmg,18.02.06,5 books worth reading this summer,Bill Gates,29,2018-05-21T13:30:33.000Z,320924.0,10582.0,155.0,611.0,youtube#videoCategoryListResponse
40890,pwGbwYAfSmg,18.03.06,5 books worth reading this summer,Bill Gates,29,2018-05-21T13:30:33.000Z,326502.0,10720.0,158.0,612.0,youtube#videoCategoryListResponse
40891,pwGbwYAfSmg,18.04.06,5 books worth reading this summer,Bill Gates,29,2018-05-21T13:30:33.000Z,333587.0,10918.0,161.0,613.0,youtube#videoCategoryListResponse

In [58]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\python\lib\site-packages (from mysql-connector-python) (3.20.1)

In [59]:
import mysql.connector

In [71]:
import sqlalchemy
import pymysql

In [74]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:@localhost:3306/task3")

In [60]:
db=mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
print(db)
abc=db.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022B1F4B9990>

In [ ]:
abc.execute('show databases')
for s in abc:
    print(s)

In [64]:
abc.execute('create database task3')

In [157]:
abc.execute('use task3')
abc.execute('drop table youtube_video_stats')

In [158]:
abc.execute("create table youtube_video_stats(video_id text, trending_date date,title text,channel_title text,\
category_id int(5),publish_time varchar(30),views int,likes int,dislikes int,comment_count int,kind text)")

In [105]:
df.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,views,likes,dislikes,comment_count
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,17158579.0,787425.0,43420.0,125882.0

In [159]:
k.to_sql('youtube_video_stats',con = engine, if_exists = 'append',index = False)

375885

In [160]:
abc.execute('commit')